.env
*.md
*.zip
*.tar
*.gz

.DS_Store
**/.DS_Store

*.log

micronav-assets/__pycache__
micronav-assets/logs/micronav.log
micronav-assets/venv

micronav-assets/speedcams/json/*

push.sh
micronav.service